<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <properties resource="mybatis-generator/generator.properties"/>
    <context id="testTables" targetRuntime="MyBatis3">
        <property name="autoDelimitKeywords" value="true"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <property name="javaFileEncoding" value="UTF-8"/>

        <plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin"/>
        <plugin type="com.itfsw.mybatis.generator.plugins.SelectOneByExamplePlugin"/>
        <plugin type="com.itfsw.mybatis.generator.plugins.LimitPlugin"/>
        <plugin type="com.itfsw.mybatis.generator.plugins.BatchInsertPlugin">
            <property name="allowMultiQueries" value="false"/>
        </plugin>
        <plugin type="com.itfsw.mybatis.generator.plugins.LogicalDeletePlugin">
            <property name="logicalDeleteColumn" value="status"/>
            <property name="logicalDeleteValue" value="0"/>
            <property name="logicalUnDeleteValue" value="1"/>
            <property name="logicalDeleteConstName" value="IS_DELETED"/>
            <property name="logicalUnDeleteConstName" value="NOT_DELETED"/>
        </plugin>
        <plugin type="com.itfsw.mybatis.generator.plugins.ModelColumnPlugin"/>
        <plugin type="com.itfsw.mybatis.generator.plugins.UpsertPlugin">
            <property name="allowMultiQueries" value="true"/>
            <property name="allowBatchUpsert" value="true"/>
        </plugin>
        <plugin type="com.itfsw.mybatis.generator.plugins.SelectiveEnhancedPlugin"/>
        <plugin type="com.itfsw.mybatis.generator.plugins.ExampleEnhancedPlugin"/>
        <plugin type="com.itfsw.mybatis.generator.plugins.LombokPlugin">
            <property name="@Data" value="true"/>
            <property name="@Builder" value="true"/>
            <property name="@AllArgsConstructor" value="true"/>
            <property name="@NoArgsConstructor" value="true"/>
            <property name="@Accessors(chain = true)" value="false"/>
            <property name="supportSuperBuilderForIdea" value="false"/>
        </plugin>
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="${datasource.url}"
                        userId="${datasource.username}"
                        password="${datasource.password}">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <javaModelGenerator targetPackage="${domain.package}"
                            targetProject="../supporter-common/src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <sqlMapGenerator targetPackage="${mapper.package}"
                         targetProject="./src/main/resources/">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="${dao.package}" targetProject="./src/main/java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>
        <table tableName="t_user" domainObjectName="UserDO">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="t_app" domainObjectName="AppDO">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="t_method" domainObjectName="MethodDO">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="t_script" domainObjectName="ScriptDO">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="t_parameter" domainObjectName="ParameterDO">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="t_property" domainObjectName="PropertyDO">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>